/* CSS declarations go here */

body{
	background-color: white;
	padding: 2%;
}
pre.prettyprint{
    width: auto;
    overflow: auto;
    max-height: 600px;
    max-width: 90%;
}


.send-btn{
	width:50%;
	height:60px;
	font-size: 1.5em;
	margin: 0 auto;
}
.close{
	margin-right: 10px;
	margin-top: 5px;
}
#leaderboard {
	list-style: none;
}

#codePanel input{
	width: 95%;
	margin-left: 2px;
	margin-top: 10px;
}

#codePanel .btn-success{
	width: 100%;
}