<head>
  <title>cshare</title>
  	<!--<script src="run_prettify.js?skin=desert"></script>-->

</head>

<body>
	{{> main}}

</body>



<template name="hello">
  <h1>Snippets!</h1>
  <br>
  {{greeting}}
  {{loggedInUser}}
</template>



<template name="main">
	{{loginButtons}}
		{{#if currentUser}}
			{{> hello}} {{loggedInUser}}
			<br>
			{{> userList}}
			<br>
			 {{> codemirror}}
			 {{> snippets}}
  		{{/if}}
  		</br>
</template>





<template name="userList">

		<h3>LEADERBOARD</h3>
		<ul id="leaderboard">
			{{# each allUsers}}
				<li>{{> userItem}}</li>
			{{/each}}
		</ul>
</template>

<template name="userItem">
	<div class="alert alert-success">
		{{#each nameUser}}
			{{#if profile.name}}
				{{profile.name}}: <span class="score">{{profile.score}}</span>
			{{else}}
				{{username}}: <span class="score">{{profile.score}}</span>
			{{/if}}
		{{/each}}
	</div>
</template>

<template name="codeScore">
	{{score}}
</template>




<template name="snippets">
	<h2>Snippets</h2>
	<div id="snippet-list">
		{{#each snippet}}
			{{> codelist}}
		{{/each}}
	</div>
</template>


<template name="codelist">
	<div class="alert">
		<h3>{{title}}</h3></br>
			{{about}}
			<div class="code-container">
				<pre class="prettyprint">{{code}}</pre>
				{{#if owner}}
					<button class="destroy-post btn btn-danger">X</button>
				{{/if}}
			</div>
			Score: <span class="badge badge-success">{{> codeScore}}</span>
			<button class="scoreUP btn btn-success">UP!</button>
		</br>
	</div>
</template>




<template name="codemirror">
	<a href="#codePanel" role="button" class="btn btn-success" data-toggle="modal">Post code!</a>

	<div id="codePanel" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		
		<input type="text" placeholder="title" class="insert-title">
		<input type="text" placeholder="about" class="insert-about">
		<input type="text" placeholder="language" class="insert-about">

		<div class="fill">
			{{! Replaced by CodeMirror instance}}
			<div id="codemirrorArea"></div>
		</div>
		<button class="btn btn-success" id="send-btn">submit</button>
	</div>
</template>








